// 主页样式
.about {
  .top {
    float: left;
    width: 90%;
    /deep/.el-col-md-8 {
      margin-top: -15px;
    }
    /deep/.avue-data-rotate .item {
        color:#3f3d56
    }
    /deep/.avue-data-rotate .item-more {
      color:#3f3d56
  }
  }
  #myChart {
    float: left;
    width: 800px;
    height: 500px;
    margin-top: 120px;
    transform: translateX(-60px);
  }
  .echart {
    float: left;
    width: 150px;
    height: 150px;
  }
}
